<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itesm.mx.mamicare" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appiconmami"
        android:label="@string/MAMICARE"
        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="landscape"
            android:name=".MainActivity"
            android:label="@string/MAMICARE" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".NewPatient"
            android:label="@string/newPatient" >
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".PatientProfile"
            android:label="@string/title_activity_patient_profile" >
        </activity>
        <activity
            android:name=".PregnancyProfile"
            android:label="@string/title_activity_pregnancy_profile" >
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".AssesmentList"
            android:label="@string/title_activity_assesment_list" >
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".NewAssesment"
            android:label="@string/title_activity_new_assesment" >
        </activity>
    </application>

</manifest>
